# Node.js
PORT=300000
REMOTE_SERVER_URL=http://127.1.1.1:8000

# Authentication
AUTH_USERNAME=admin
AUTH_PASSWORD=some-password
SESSION_SECRET=session-secret

# Python Flask server
WP_URL=https://myserver.com
WP_USERNAME=admin
WP_APP_PASSWORD=your_wordpress_app_password
OPENWEBUI_API_URL=http://localhost:11434/api/chat
MODEL_NAME=social-media-influencer 